html, body {
    margin: 0;
    padding: auto;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* background-color: aquamarine; */
    text-align: center;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu ul{
    position: fixed; 
    list-style-type: none;
    font-size: 10px;
    margin: 0;
    width: 17.2%;
    height: 87.5%;
    background-color: rgb(201, 218, 218);
    padding: 5px;
    display: block;
    text-align: left;
}
.menu li{
    padding: 8px 0;
    border-bottom: 1px solid #bbb;
}
.menu img {
    height: 100px;
    width: 140px;
    margin-bottom: -4px;    
}
.menu li a:hover {
  background-color: #ddd;
}
.header {
    background-color: #fff;
    min-height: 150px;
}
.header img {
    height: auto;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 0px;
    text-align: center;
    
}
.footer {
    background-color: rgba(194, 243, 248, 0.977);
    min-height: 150px;
}
.clinica p {
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    z-index: 1;
}
.clinica  .logo {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-size: 30px;
    margin-top: auto;
    margin-right: -50px;
    color: #ec1515;
}
.service {
    text-align: left;
    margin-bottom: 20px;
}
 table thead th {
    color: black;
 }
 table {
    border: 1px solid black;
    width: 350px;
    align-self: start;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
 }
.form {
    font-size: 13px;
    text-align: absolute;
    margin-bottom: 10px;
    /* line-height: 18px; */
    padding: auto;
}
footer p a {
    color: black;
    margin-left: 10px;
    text-align: center; 
    font-size: 8px; 
    padding: 1px; 
    background-color: rgba(194, 243, 248, 0.977); 
}